{%  extends "base.html" %}

{% block titulo%} Usuarios {% endblock %}

{% block contenido %} 
<br>
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="/crear_usuario" role="button">Crear Usuario</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">Listado de Usuarios</h5>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre de Usuario</th>
                        <th scope="col">Email</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Grupo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %} 
                    <tr>
                        <td scope="row">{{ user.pk }}</td>                   
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.groups.first }}</td>                        
                        <td>
                            <a name="" id="" class="btn btn-info" href="/editar_usuario/{{ user.pk }}/" role="button">Editar</a> | 
                            <a name="" id="" class="btn btn-danger" href="/eliminar_usuario/{{ user.pk }}" role="button">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>

{% endblock %} 